@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.skill-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #fff;
    height: 175px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    margin-bottom: 16px;
    &--selected {
        border-color: $border-color-secondary;
        background-color: $bg-color-selected;
    }
    &--active{
        @include element-active();
    }
    

    &__icon {
        width: 146px;
        text-align: center;
    }
    .icon {
        &__image {
            width: 60px;
            height: 60px;
            display: inline-block;
        }
        &__sort {
            color: $text-color-dark-1;
            text-align: center;
            font-size: 28px;
            line-height: 1.5;
        }
    }

    &__content {
        flex: 1;
        margin-right: 22px;
    }
    .content{
        &__name{
            font-size: 28px;
            line-height: 1.5;
            margin-bottom: 6px;
        }
        &__des{
            font-size: 24px;
            line-height: 1.5;
            color: $text-color-dark-1;
        }
        &__des-prek{
            margin-top: 6px;
            white-space: pre;
            font-size: 24px;
        }
    }

    // static 静态列表重置样式
    &--static {
        border: 0;
        border-bottom: 1px solid $border-color-base;
        box-shadow: none;
        height: auto;
        padding: 20px 0;
        margin-bottom: 0;
        &:last-child{
            border: 0;
        }

        .skill-item__icon {
            width: 80px;
            margin-right: 22px;
        }
        .skill-item__content {
            margin-right: 0;
        }
    }
}
