@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

page,
body {
    background-color: $bg-color-base;
}

.fitting-detail{

    .detail-top{
        height: 580px;
        &__bg{
            position: relative;
            height: 580px;
            @include background('../../assets/images/fitting-detail-top.jpg')
        }
        &__commander{
            position: absolute;
            width: 266px;
            height: 245px;
            left: 50%;
            transform: translate(-89px, 165px);
            z-index: 10;
        }
        &__ship{
            position: absolute;
            width: 518px;
            height: 324px;
            left: 50%;
            transform: translate(-259px, 184px);
            z-index: 11;
        }
    }

    .detail-content{
        background-color: $bg-color-base;
        border-radius: $border-radius;
        box-shadow: $box-shadow-top;
        position: relative;
        top: -10px;

        &__section{
            padding: $page-padding;
            padding-top: 30px;
            padding-bottom: 30px;
            border-bottom: 1px dashed $border-color-base;
            &:last-child{
                border-bottom: 0;
            }
        }

        .section{
            &__title{
                color: $text-color-dark-1;
                font-size: 32px;
                line-height: 1.5;
                margin-bottom: 16px;
                display: flex;
                align-items: flex-end;
            }
            &__title-content{
                flex: 1;
            }
            &__title-ext{
                font-size: 24px;
            }
            &__line{
                display: flex;
                font-size: 28px;
                line-height: 1.5;
                margin-bottom: 4px;
            }
            &__line-label{
                color: $text-color-dark-1;
                margin-right: 24px;
            }
            &__line-content{
                text-align: left;
                flex: 1;
            }
            &__description,
            &__time{
                font-size: 28px;
                line-height: 1.5;
            }
            &__description{
                white-space: pre-line;
            }
        }
    }

    .detail-button{
        padding: $page-padding;
        padding-bottom: 40px;
    }
}